.container
  .row
    .span9.main
      .page-header
        h1 Edit
      form.form(action="/sites/#{site.id()}", method= 'POST')
        .row 
          .span7.offset1
            textarea.span7(name='content', rows=10)= site.serialize()
            input.btn.btn-primary(type='submit', value="Update")
