!!! 5
html 
  head
    title Soxy Admin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel= 'stylesheet', href='http://fonts.googleapis.com/css?family=Titan+One&text=Soxyi.')
    link(rel= 'stylesheet', href='/admin.css')
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/socket.io/socket.io.js")
    script
  body
    .container
      .navbar
        .navbar-inner
          .container
            a.brand(href='/')
              span.logo Soxy.io
            .btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .nav-collapse
              ul.nav
                li
                  a(href="/") Sites
                li
                  a(href="/log") Log
            .nav-collapse
              form.pull-right.navbar-search
                input.search-query(placeholder='Search')
    != body
